<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin</title>
  </head>
  <body>
    <p>Pig Latinizer</p>
    <form method="post" action="/piglatinize">
    <textarea name="phrase"></textarea>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
  </body>
</html>
